
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?w=1920&q=80");

  background-size: cover;
  background-position: center;
}


.login-box {
  padding: 3rem;             
  width: 100%;
  max-width: 400px;
  min-height: 420px;          

  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: center;   
}

.login-title {
  margin-bottom: 5px;
  text-align: center;
  color: #08051a;
}


.login-subtitle {
  margin-bottom: 20px;
  text-align: center;
  color: #34495e;
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.login-input-group {
  display: flex;
  flex-direction: column;
}


.login-label {
  margin-bottom: 5px;
  font-weight: 500;
}


.login-select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(255,255,255,0.4);
  background: rgba(255,255,255,0.7);
  font-size: 14px;
}


button{
  width:100%;
  padding:10px;
  background:#007bff;
  border:none;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#0056b3;
}

.login-button:hover {
  background-color: #2980b9;
}


.login-error {
  color: rgb(0, 255, 89);
  font-size: 14px;
  text-align: center;
}